header{
  background: var(--header-color);
  margin-bottom: 1.45rem;
}

header .header-container{
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  color: var(--header-font-color);
  display: flex;
  justify-content: space-between;
}

header .header-title-logo{
  display: flex;
}

header button {
  height: 100%;
  width: auto;
  font-size: 14px;
  line-height: normal;
  border-radius: 50%;
  background-color: #fff;
  font-weight: 500;
}

header button:focus {
  outline: none;
}

header h1{
  margin: 0;
}

header h5{
  margin: 0;
  font-style: italic;
  margin-top: 5px;
}

.ionic-logo {
  width: 70px;
  height: 70px;
}

.header-container img{
  filter: brightness(100);
  margin: 0;
  margin-right: 30px;
}