.search{
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchbar-container{
  position: relative;
  width: 100%;
  background-color: var(--searchbar-bg-color);
  border-radius: 99px;
  margin-bottom: 10px;
}

.searchbar-container:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: var(--searchbar-text-color);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath d='M932.8 850l-201-201c56.4-67.6 90.3-154.5 90.3-249.5C822.2 184.2 647.9 10 432.7 10 217.4 10 43.2 184.2 43.2 399.5 43.2 614.7 217.4 789 432.7 789c61.1 0 119-14.1 170.5-39.1 3 4.7 6.6 9.1 10.7 13.2l203 203c32 32 84 32 116 0 31.9-32.1 31.9-84.1-.1-116.1zM125.2 399.5C125.2 229.7 262.9 92 432.7 92s307.5 137.7 307.5 307.5S602.4 707 432.7 707c-169.8 0-307.5-137.7-307.5-307.5z'/%3E%3C/svg%3E");
}

.searchbar-container input{
  width: 100%;
  background-color: transparent;
  border-style: none;
  height: 50px;
  padding-left: 50px;
  color: var(--searchbar-text-color);
}

.searchbar-container input:focus{
  outline: none;
}

.searchbar-container input::placeholder{
  font-style: italic;
  color: var(--searchbar-text-color);
}

.checkboxes{
  display: flex;
  margin: auto;
  width: 95%;
  font-weight: 500;
}

.checkboxes div{
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.checkboxes div label{
  padding-left: 10px;
  font-size: 14px;
  line-height: 18px;
}

.search-fixed{
  position: fixed;
  margin: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--bg-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  animation-duration: .3s;
  animation-name: slidein;
}

.search-fixed .searchbar-container{
  max-width: 960px;
  margin-bottom: 0;
}

.search-fixed .checkboxes{
  display: none;
}

@keyframes slidein {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}